html, body{
  height: 100%;
  margin: 0;
  padding: 0;

}

#logout {
  margin-left: auto;
  height:38px;
}
.route-text {
  margin-left: 250px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-content {
  min-width: 100%;
  padding: 20px;
}


ul {
  list-style-type: none; /* Remove default bullets */
  padding-left: 0; /* Remove default padding */
}

li {
  margin-bottom: 10px;
  position: relative;
  left: 20px; /* Adjust indentation of list items */
}


.menu-opened .about-content {
  margin-left: 250px; /* Adjusted for the open menu */
}

.menu-opened ul {
  margin-left: 0; /* Reset margin for list items */
  padding-left: 0; /* Reset padding for list items */
}



.movie-container {
  text-align: center;
  margin-left: 75px;
}
#search-input {
  height:10px;
  width: 500px;
}
#search-btn {
  margin-left: 35px;
  height:44px;
  width:140px;
}

.watchlist-item-img {
  width: 85px;
  height: 135px;
}

