html, body{
  height: 100%;
  margin: 0;
  padding: 0;

}
.route-text {
  margin-left:250px;
  text-align:center;
}

#logout {
  margin-left: auto;
  color: red;
  height:38px;
}

.movie-container {
  text-align: center;
  margin-left: 75px;
}
#search-input {
  height:10px;
  width: 500px;
}
#search-btn {
  margin-left: 35px;
  height:44px;
  width:140px;
}